@font-face {
  font-family: "Montserrat-SemiBold"; /* Имя шрифта */
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Montserrat-Thin"; /* Имя шрифта */
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Montserrat-Light"; /* Имя шрифта */
  src: url("../fonts/Montserrat/Montserrat-Light.ttf"); /* Путь к файлу со шрифтом */
}

.game_card {
  margin: 50px auto 0% auto;
  padding: 0px 15px 0px 10px;
  height: 330px;
  width: 220px;
}

.logo {
  cursor: pointer;
  position: absolute;
  border-radius: 15px;
  margin-left: 0px;
  height: 280.1px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  background-position-x: inherit;
  background-position-y: inherit;
  background-size: cover;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='100' fill='currentColor' class='bi bi-card-image' viewBox='-27 -26.5 70 70'><path d='M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z'/><path d='M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.hover_link_logo {
  position: relative;
  background-color: rgba(200, 200, 200, 0.4);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgba(255, 255, 255, 0.5)' class='bi bi-eye' viewBox='0 0 16 16'><path d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z'/><path d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z'/></svg>");
  background-size: 3.5em 3.5em;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 200.5px;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
  background-position-x: inherit;
  background-position-y: inherit;
}

.hover_link_logo:hover {
  transition: 0.5s;
  opacity: 1;
}

.playstation_part {
  cursor: pointer;
  will-change: transform;
  position: absolute;
  /* float: right; */
  /* margin-right: 50px; */
  border-radius: 15px;
  margin-left: 5px;
  height: 280px;
  width: 200px;
  background-color: rgba(0, 55, 162, 1);
  z-index: 9;
  transition: 0.2s !important;
}

.playstation_part_active{
  cursor: pointer;
  will-change: transform;
  position: absolute;
  /* float: right; */
  /* margin-right: 50px; */
  border-radius: 15px;
  margin-left: 5px;
  height: 280px;
  width: 200px;
  background-color: rgba(0, 55, 162, 1);
  z-index: 9;
  transition: 0.2s !important;
}

.push_label {
  margin: 0px;
  bottom: 0px;
  top: 40px;
  left: -1px;
  /* right: 1000px; */
  width: 200px;
  height: 200px;
  will-change: transform;
  position: absolute;
  color: white;
  font-family: Montserrat-SemiBold;
  -moz-transform: rotate(90deg); /* Для Firefox */
  -ms-transform: rotate(90deg); /* Для IE */
  -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(90deg); /* Для Opera */
  transform: rotate(90deg);
}

.push_label > span {
  display: block;
  width: 120px;
  height: 20px;
  margin: 0 auto;
  text-align: center;
}

.push_label {
  will-change: transform;
  opacity: 0;
  transition: 1s !important;
}

.playstation_part_hover:hover > .push_label {
  will-change: transform;
  opacity: 1;
  transition: 1s !important;
}
.playstation_part_hover:hover {
  will-change: transform;
  margin-left: 20px;
  transition: 0.2s !important;
}
.playstation_part_hover:hover + .xbox_part {
  will-change: transform;
  margin-left: 25px;
  transition: 0.2s !important;
}
.playstation_part_hover:hover + .xbox_part + .nintendo_part {
  will-change: transform;
  margin-left: 30px;
  transition: 0.2s !important;
}
.playstation_part_hover:hover + .xbox_part + .nintendo_part + .pc_part {
  will-change: transform;
  margin-left: 35px;
  transition: 0.2s !important;
}

.xbox_part {
  cursor: pointer;
  will-change: transform;
  position: absolute;
  /* float: right; */
  /* margin-right: 50px; */
  border-radius: 15px;
  margin-left: 10px;
  height: 280px;
  width: 200px;
  background-color: rgba(0, 131, 0, 1);
  z-index: 8;
  transition: 0.2s !important;
}

.xbox_part_active {
  cursor: pointer;
  will-change: transform;
  position: absolute;
  /* float: right; */
  /* margin-right: 50px; */
  border-radius: 15px;
  margin-left: 10px;
  height: 280px;
  width: 200px;
  background-color: rgba(0, 131, 0, 1);
  z-index: 8;
  transition: 0.2s !important;
}

.xbox_part_hover:hover > .push_label {
  will-change: transform;
  opacity: 1;
  transition: 1s !important;
}
.xbox_part_hover:hover {
  will-change: transform;
  margin-left: 25px;
  transition: 0.2s !important;
  content: "Us";
}
.xbox_part_hover:hover + .nintendo_part {
  will-change: transform;
  margin-left: 30px;
  transition: 0.2s !important;
}
.xbox_part_hover:hover + .nintendo_part + .pc_part {
  will-change: transform;
  margin-left: 35px;
  transition: 0.2s !important;
}

.nintendo_part {
  cursor: pointer;
  will-change: transform;
  position: absolute;
  /* float: right; */
  /* margin-right: 50px; */
  border-radius: 15px;
  margin-left: 15px;
  height: 280px;
  width: 200px;
  background-color: rgba(249, 0, 0, 1);
  z-index: 7;
  transition: 0.2s !important;
}

.nintendo_part_active {
  cursor: pointer;
  will-change: transform;
  position: absolute;
  /* float: right; */
  /* margin-right: 50px; */
  border-radius: 15px;
  margin-left: 15px;
  height: 280px;
  width: 200px;
  background-color: rgba(249, 0, 0, 1);
  z-index: 7;
  transition: 0.2s !important;
}

.nintendo_part_hover:hover > .push_label {
  will-change: transform;
  opacity: 1;
  transition: 1s !important;
}
.nintendo_part_hover:hover {
  will-change: transform;
  margin-left: 30px;
  transition: 0.2s !important;
}
.nintendo_part_hover:hover + .pc_part {
  will-change: transform;
  margin-left: 35px;
  transition: 0.2s !important;
}

.pc_part {
  cursor: pointer;
  will-change: transform;
  position: absolute;
  /* float: right; */
  /* margin-right: 50px; */
  border-radius: 15px;
  margin-left: 20px;
  height: 280px;
  width: 200px;
  background-color: rgb(0, 0, 0);
  z-index: 6;
  transition: 0.2s !important;
}

.pc_part_active {
  cursor: pointer;
  will-change: transform;
  position: absolute;
  /* float: right; */
  /* margin-right: 50px; */
  border-radius: 15px;
  margin-left: 20px;
  height: 280px;
  width: 200px;
  background-color: rgb(0, 0, 0);
  z-index: 6;
  transition: 0.2s !important;
}

.pc_part_hover:hover > .push_label {
  will-change: transform;
  opacity: 1;
  transition: 1s !important;
}
.pc_part_hover:hover {
  will-change: transform;
  margin-left: 35px;
  transition: 0.2s !important;
}

.game_link_logo_only_display_none{
  display: none;
}

.game_card_move_left_5px{
  margin-left: 5px;
}
.game_card_move_left_5px:hover > .push_label {
  will-change: transform;
  opacity: 1;
  transition: 1s !important;
}
.game_card_move_left_5px:hover {
  will-change: transform;
  margin-left: 20px;
  transition: 0.2s !important;
}
.game_card_move_left_5px:hover ~ .game_card_move_left_10px {
  will-change: transform;
  margin-left: 25px;
  transition: 0.2s !important;
}
.game_card_move_left_5px:hover ~ .game_card_move_left_10px ~ .game_card_move_left_15px {
  will-change: transform;
  margin-left: 30px;
  transition: 0.2s !important;
}

.game_card_move_left_10px{
  margin-left: 10px;
}
.game_card_move_left_10px:hover > .push_label {
  will-change: transform;
  opacity: 1;
  transition: 1s !important;
}
.game_card_move_left_10px:hover {
  will-change: transform;
  margin-left: 25px;
  transition: 0.2s !important;
}
.game_card_move_left_10px:hover ~ .game_card_move_left_15px {
  will-change: transform;
  margin-left: 30px;
  transition: 0.2s !important;
}

.game_card_move_left_15px{
  margin-left: 15px;
}
.game_card_move_left_15px:hover > .push_label {
  will-change: transform;
  opacity: 1;
  transition: 1s !important;
}
.game_card_move_left_15px:hover {
  will-change: transform;
  margin-left: 30px;
  transition: 0.2s !important;
}
